# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target

# node module
/node_modules

.idea/

*.log
# IDE
*.iml
*.ipr
*.iws
projectFilesBackup
.setting
target-eclipse

.classpath
.project
.DS_Store
.sass-cache
.slcache
.sonar
grails-app/assets/javascripts/bower_components
dist/
grails-app/assets/stylesheets/css
